<form [formGroup]="form">
  <div class="wrapper-login">
    <div class="inner">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div style="width: 80%; margin: 100px auto">
            <img src="../../../assets/img/default-logo-alterar.png" />
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="line"></div>
          <div class="row">
            <div class="col-12">
              <h4 class="title font-h1" style="text-align: center">
                Atualizar Senha
              </h4>
            </div>
            <div class="col-12">
              <h5 class="title font-h1" style="text-align: center">
                Informe os dados abaixo para alteração
              </h5>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label
                    class="label-register"
                    [class.required]="
                      form.controls['password'].invalid && sendForm
                    "
                    >Nova Senha<span class="required">*</span></label
                  >
                  <input
                    class="form-control"
                    id="password"
                    placeholder="Informe a sua nova senha"
                    type="password"
                    formControlName="password"
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label
                    class="label-register"
                    [class.required]="
                      form.controls['password'].value !==
                        form.controls['confirmpassword'].value ||
                      (form.controls['confirmpassword'].invalid && sendForm)
                    "
                    >Confirmação de Senha<span class="required">*</span></label
                  >
                  <input
                    class="form-control"
                    id="confirmpassword"
                    placeholder="Confirme a senha"
                    type="password"
                    formControlName="confirmpassword"
                  />
                </div>
              </div>
            </div>
            <div style="margin-bottom: 50px"></div>
          </div>

          <div class="row" *ngIf="!loading">
            <div class="col-md-6" style="margin-bottom: 10px">
              <button class="btn btn-default btn-login" (click)="cancel()">
                <span>Cancelar</span>
              </button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-success btn-login" (click)="save()">
                <span>Confirmar</span>
              </button>
            </div>
          </div>

          <div class="row" *ngIf="loading">
            <div class="col-md-12">
              <div class="loader"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
