<app-header-page
  [title]="'Usuários'"
  [urlBtn]="'/users-new'"
  [titleBtn]="'Novo Usuário'"
></app-header-page>
<app-users-table-grid>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <span class="span-search">Pesquisa Rápida</span><br />
      <input
        class="search-input"
        type="text"
        placeholder="Enter para filtrar ..."
        [(ngModel)]="search"
        (keyup.enter)="executeSearch()"
      />
      <button
        class="btn-filter btn-actions btn-search"
        style="display: none; margin-left: 10px"
        (click)="executeSearch()"
      >
        Pesquisar
      </button>
    </div>
    <div class="col-sm-12 col-lg-6 text-right margin-group-btn-filter">
      <img
        [ngClass]="{ disabled: (this.tableGrid?.totalItemsCount ?? 0) === 0 }"
        class="btn-excel"
        matTooltip="Exportar para Excel"
        (click)="exportExcel()"
        src="../../../assets/img/excel-icon.png"
      />
      <button class="btn-filter btn-actions btn-filter" (click)="showFilter()">
        Filtros
        <span *ngIf="isFilterApplied" class="filter-applied"></span>
      </button>
    </div>
  </div>
</app-users-table-grid>
<app-filter-menu (closeBackgroundFilter)="changeFilterMenu()">
  <app-users-filter
    (filterObject)="ApplyFilter($event)"
    (executeResetFilter)="resetFilter($event)"
  >
  </app-users-filter>
</app-filter-menu>
<div
  *ngIf="showMenuFilter"
  (click)="changeFilterMenu()"
  class="filter-menu-background"
></div>
