.disabled-check {
  pointer-events: none;
  filter: none;
  opacity: 0.5;
}

.p-label {
  color: #525f7f;
  margin-bottom: 18px;
}

.check-thead {
  margin-top: 1px;
  margin-right: 10px;
}

.check-body {
  margin-top: 3.5px;
  margin-right: 10px;
}